[Unit]
Description=open-mcc-manager sign-in for instance %i

[Service]
Type=simple
User=mcc-%i
Group=mcc-%i
WorkingDirectory=/srv/open-mcc/instances/%i
ExecStart=/bin/sh -c 'exec "/srv/open-mcc/bin/MinecraftClient" BasicIO-NoColor > /srv/open-mcc/instances/%i/auth.log 2>&1'
StandardInput=null
StandardOutput=journal
StandardError=journal
TimeoutStopSec=10
NoNewPrivileges=yes
UMask=0077
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
ReadWritePaths=/srv/open-mcc/instances/%i
